/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/gestorEscolar/listaProfessores/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container___s5B4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.page_header__VpyJh {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.page_profilePic__YC7vS {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.page_searchBar__uoAp6 {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
  margin-bottom: 20px;
}

.page_searchBar__uoAp6 input {
  border: none;
  outline: none;
  flex: 1 1;
  font-size: 16px;
  background-color: transparent;
}

.page_searchBar__uoAp6 button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.page_title__3uAFJ {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.page_listaAlunos__hHRC9 {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.page_alunoItem__XDFxj {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.page_verDetalhes__NL86_ {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.page_voltarButton__HeyjN {
  margin-top: 20px;
  background-color: #004080;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page_voltarButton__HeyjN:hover {
  background-color: #002d5a;
}

  
