.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  width: 100%;
  max-width: 900px; /* aumentada a largura */
  margin: 0 auto;
}
  
.header {
  display: flex;
  justify-content: center; /* centraliza o conteúdo */
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.notificacoesContainer {
  width: 100%;
}
  
  .notificacaoNaoLida {
    background-color: #90caf9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .notificacaoLida {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .dataEnvio {
    display: block;
    font-size: 12px;
    color: #6c757d;
  }
  
  .semNotificacao {
    color: gray;
    text-align: center;
  }
  
  .voltarButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .voltarButton:hover {
    background-color: #a71d2a;
  }

  .page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }