/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/profissionalSaude/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.page_page__Caoav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 2%;
}
.page_pageTitle___hSyh {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 2%;
}
.page_container__EzC2g {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 32px;
    border-radius: 16px;
    width: 500px;
}

.page_profile_container__7W0CC {
    position: relative;
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
}

.page_profile_image__bTpm2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.page_addPhotoCircle__RLAqn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    border: 2px dashed #ccc;
}

.page_name__7X_VT {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.page_form__1AIny {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.page_label__M_OWd {
    font-size: 14px;
    font-weight: bold;
}

.page_input_box__09YpO {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.page_button__ADwP6 {
    background-color: rgb(var(--secondary-blue));
    color: white;
    width: 272px;
    height: 64px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 16px;
    margin: 8px auto;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}

.page_button__ADwP6:hover {
    background-color: #003d82;
}

.page_error__JwQcF {
    color: red;
    font-size: 12px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/Footer/footer.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.footer_page__JUALD {
    bottom: 0;
    left: 0; 
    width: 100vw;
    background-color: rgb(var(--secondary-blue));
    color: white;
    text-align:left;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

