/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/gestorEscolar/verAlunoCadastrado/page.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.page_page__nQizw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.page_container__Pg3TX {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 24px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.page_titulo__p26wa {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.page_loading__WHmu7 {
    font-size: 18px;
    color: #555;
}

.page_semDados__TGmM_ {
    font-size: 18px;
    font-weight: bold;
    color: #888;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.page_card__XVZLi {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.page_card__XVZLi h3 {
    margin-bottom: 10px;
}

.page_subtitulo__A4zoF {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

