/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/gestorEscolar/listaAlunos/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__SoAzd {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.page_header__hWORF {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.page_profilePic__mNOO1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.page_searchBar__BoHqw {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
  margin-bottom: 20px;
}

.page_searchBar__BoHqw input {
  border: none;
  outline: none;
  flex: 1 1;
  font-size: 16px;
  background-color: transparent;
}

.page_searchBar__BoHqw button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.page_title__gyDfn {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.page_listaAlunos__gZEpU {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.page_alunoItem__wk7tp {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.page_verDetalhes__d1ZQ0 {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.page_voltarButton__RPYQ6 {
  margin-top: 20px;
  background-color: #004080;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page_voltarButton__RPYQ6:hover {
  background-color: #002d5a;
}

  
