/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/responsavel/adicionarExame/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__bTmCS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .page_header__2NQbT {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .page_profilePic__qJPZ_ {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .page_alunoButton__1R06Y {
    background-color: #e5e5e5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .page_card__wwyuV {
    background-color: #f0f0f0;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  .page_docContainer__2am_x {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .page_status__55_oH {
    color: gray;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .page_fileInput__ET37a {
    padding: 5px;
  }
  
