:root {
  --foreground-rgb: 0, 0, 0;
  --primary-blue: 32, 181, 251;
  --secondary-blue: 11, 72, 102;
  --light-gray: 217, 217, 217;
  --font-primary: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  
}

a {
  color: inherit;
  text-decoration: none;
}


