.page {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.section {
  background-color: lightblue;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
  height: 80vh; 
}
