/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/professor/buscarAluno/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__iZ6Nn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .page_header__UgLas {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .page_profilePic__2No1K {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .page_searchBar__Ib70M {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .page_searchBar__Ib70M input {
    border: none;
    outline: none;
    flex: 1 1;
    font-size: 16px;
    background-color: transparent;
  }
  
  .page_searchBar__Ib70M button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: default;
  }
  
  .page_title__1j5NU {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .page_listaAlunos__HgvFB {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
  }
  
  .page_alunoItem__oTbtx {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .page_verDetalhes__ramNG {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .page_naoEncontrado__dVwPk {
    font-size: 16px;
    color: red;
    margin-top: 10px;
  }
  
  .page_voltarButton__MhncD {
    margin-top: 20px;
    background-color: #004080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page_voltarButton__MhncD:hover {
    background-color: #002d5a;
  }
  
