/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/register/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.page_page__LjYwV {
    padding-top: 10%;
    padding-bottom: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-primary);
}

.page_required_notice__7AU_w {
    font-size: 0.85rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-family: 'Arial', sans-serif;
  }
  
.page_register_section__2Tulu, .page_login_container__ymFqL {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding-top: 48px;
    background-color: rgb(var(--primary-blue));
    border-radius: 32px;
    gap: 16px;
    justify-content: center;
    padding-bottom: 32px;
}

.page_header__I4k4g {
    padding-left: 40px;
    color: white;
    width: 100%; 
    font-size: 40px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap; /* Impede a quebra de linha */
    text-align: center; 
}

.page_text__PUwvM {
    color: white;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 6px;
}

/* Seção de entrada de dados */
.page_input_section__0tDLW {
    display: flex;
    flex-direction: column;
    
}

.page_input_box__a2CVd, .page_input_selection__wm3jV {
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: gray;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

.page_button__VAzAq {
    display: flex;
    justify-content: center;
}

.page_invalid__FpM8r {
    border: 2px solid red;
    background-color: #ffe6e6;
    font-weight: normal;
}

.page_error_message__yjQRD {
    color: red;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.page_link__dgx9m {
    text-decoration: underline;
}

.page_form__8cko8 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/NavBar/navbar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
/* Estilos gerais da navbar */
.navbar_navbar__Q6qxd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 1000;
}

.navbar_navbar_container__aIXI2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Ajuste para melhorar espaçamento entre os itens */
.navbar_nav_list__bGKh_ {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  min-width: 300px;
}

/* Lista de navegação */
.navbar_nav_section__kiOi8 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Estilos dos links normais */
.navbar_nav_link__QXob1 {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
}

/* Link ativo */
.navbar_nav_link__QXob1.navbar_active__nMpeI {
  color: rgb(var(--primary-blue));
  font-weight: bold;
  position: relative;
}

/* Barrinha indicadora abaixo do link ativo */
.navbar_nav_link__QXob1.navbar_active__nMpeI::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: rgb(var(--primary-blue));
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.navbar_nav_link__QXob1.navbar_active__nMpeI:hover::after,
.navbar_nav_link__QXob1.navbar_active__nMpeI::after {
  width: 100%;
}

/* Link inativo */
.navbar_nav_link__QXob1.navbar_inactive__6IDPh {
  color: black;
  opacity: 0.7;
}

/* Efeito hover nos links */
.navbar_nav_link__QXob1:hover {
  transform: scale(1.1);
}

/* Estilo específico para o botão "Entrar" */
.navbar_login_link__UfzfY {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: auto;
}

.navbar_login_link__UfzfY:hover {
  color: rgb(var(--primary-blue));
  transform: scale(1.05);
}

/* Ajustes para telas menores */
@media (max-width: 1024px) {
  .navbar_navbar_container__aIXI2 {
    width: 95%;
  }

  .navbar_nav_list__bGKh_ {
    width: 60%;
  }

  .navbar_nav_link__QXob1 {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .navbar_login_link__UfzfY {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  .navbar_navbar_container__aIXI2 {
    flex-direction: column;
    align-items: center;
  }

  .navbar_nav_list__bGKh_ {
    width: 100%;
    justify-content: center;
  }

  .navbar_login_link__UfzfY {
    margin-left: 0;
    margin-top: 10px;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/Button/button.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.button_button_container__d_fA_ {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    transition: 0.5s;
}

.button_button_container__d_fA_:hover {
    transition: 0.5s;
    opacity: 0.5;
}


.button_primary__UOO7m {
    background-color: rgb(var(--primary-blue));

}

.button_secondary__sKJH5 {
    background-color: rgb(var(--secondary-blue));
}

.button_text__70psu {
    font-size: 16px;
    color: white;
}  
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/Footer/footer.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.footer_page__JUALD {
    bottom: 0;
    left: 0; 
    width: 100vw;
    background-color: rgb(var(--secondary-blue));
    color: white;
    text-align:left;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

