.page {
    padding-top: 10%;
    padding-bottom: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-primary);
}

.required_notice {
    font-size: 0.85rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-family: 'Arial', sans-serif;
  }
  
.register_section, .login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding-top: 48px;
    background-color: rgb(var(--primary-blue));
    border-radius: 32px;
    gap: 16px;
    justify-content: center;
    padding-bottom: 32px;
}

.header {
    padding-left: 40px;
    color: white;
    width: 100%; 
    font-size: 40px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap; /* Impede a quebra de linha */
    text-align: center; 
}

.text {
    color: white;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 6px;
}

/* Seção de entrada de dados */
.input_section {
    display: flex;
    flex-direction: column;
    
}

.input_box, .input_selection {
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: gray;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

.button {
    display: flex;
    justify-content: center;
}

.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
    font-weight: normal;
}

.error_message {
    color: red;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.link {
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}