.page {
    padding-top: 10%;
    padding-bottom: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-primary);
}


.login_container {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    padding-top: 48px;
    background-color: rgb(var(--primary-blue));
    border-radius: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    padding-left: 40px;
    color: white;
    width: 302px;
    height: 57px;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.link {
    text-decoration: underline;
}

.text {
    color: white;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input_section {
    display: flex;
    flex-direction: column;
}

.input_box {
    margin-top: 4px;
    margin-bottom: 8px;
    width: 295px;
    height: 48px;
    padding: 10px;
    font-size: 16px;
    color: gray;
    outline: none;
    border: none;
    border-radius: 8px;
}

.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
   
}

.error {
    color: red;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}
.button {
    display: flex;
    justify-content: center;
}