/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/users/responsavel/verAlunoCadastrado/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.page_page__lyJc8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.page_container__b_h9F {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 24px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.page_titulo__wWkoc {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.page_loading__aOF5P {
    font-size: 18px;
    color: #555;
}

.page_semDados__OaW5b {
    font-size: 18px;
    font-weight: bold;
    color: #888;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.page_card__6UMQe {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.page_card__6UMQe h3 {
    margin-bottom: 10px;
}

.page_subtitulo__AFj2b {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

