.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.text {
    font-size: 40px;
    font-weight: bold;
}

.input_row_section {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.input_column_section {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.toggle_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.checkbox_section {
    display: flex;
    align-items: center;
    gap: 10px;
}
