.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh; /* Faz a página ocupar toda a altura da tela */

}


.sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
  

.profile_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.profile_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.responsavel {
    font-size: 18px;
    font-weight: bold;
}
.profile_image {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px;
    border-radius: 50%; /* Para manter um formato circular */
    object-fit: cover; /* Mantém a imagem bem ajustada */
  }
  .addPhotoCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    border: 2px dashed #ccc;
}

.nome {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-bottom: 0;
  }
  
.buttons_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #d9d9d9;
}