/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/NavBar/navbar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
/* Estilos gerais da navbar */
.navbar_navbar__Q6qxd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 1000;
}

.navbar_navbar_container__aIXI2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Ajuste para melhorar espaçamento entre os itens */
.navbar_nav_list__bGKh_ {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  min-width: 300px;
}

/* Lista de navegação */
.navbar_nav_section__kiOi8 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Estilos dos links normais */
.navbar_nav_link__QXob1 {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
}

/* Link ativo */
.navbar_nav_link__QXob1.navbar_active__nMpeI {
  color: rgb(var(--primary-blue));
  font-weight: bold;
  position: relative;
}

/* Barrinha indicadora abaixo do link ativo */
.navbar_nav_link__QXob1.navbar_active__nMpeI::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: rgb(var(--primary-blue));
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.navbar_nav_link__QXob1.navbar_active__nMpeI:hover::after,
.navbar_nav_link__QXob1.navbar_active__nMpeI::after {
  width: 100%;
}

/* Link inativo */
.navbar_nav_link__QXob1.navbar_inactive__6IDPh {
  color: black;
  opacity: 0.7;
}

/* Efeito hover nos links */
.navbar_nav_link__QXob1:hover {
  transform: scale(1.1);
}

/* Estilo específico para o botão "Entrar" */
.navbar_login_link__UfzfY {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: auto;
}

.navbar_login_link__UfzfY:hover {
  color: rgb(var(--primary-blue));
  transform: scale(1.05);
}

/* Ajustes para telas menores */
@media (max-width: 1024px) {
  .navbar_navbar_container__aIXI2 {
    width: 95%;
  }

  .navbar_nav_list__bGKh_ {
    width: 60%;
  }

  .navbar_nav_link__QXob1 {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .navbar_login_link__UfzfY {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  .navbar_navbar_container__aIXI2 {
    flex-direction: column;
    align-items: center;
  }

  .navbar_nav_list__bGKh_ {
    width: 100%;
    justify-content: center;
  }

  .navbar_login_link__UfzfY {
    margin-left: 0;
    margin-top: 10px;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/Button/button.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.button_button_container__d_fA_ {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    transition: 0.5s;
}

.button_button_container__d_fA_:hover {
    transition: 0.5s;
    opacity: 0.5;
}


.button_primary__UOO7m {
    background-color: rgb(var(--primary-blue));

}

.button_secondary__sKJH5 {
    background-color: rgb(var(--secondary-blue));
}

.button_text__70psu {
    font-size: 16px;
    color: white;
}  
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_page__556_G {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.page_section__zQZ2o {
  background-color: #f0f8ff; 
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  padding: 3rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page_container__jZF7q {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  gap: 2rem;
}

.page_image__ZQ2oC {
  width: 45%;
  max-width: 300px;
  height: auto;
}

.page_text__9vMJ3 {
  width: 50%;
  text-align: left;
}

/* Responsividade */
@media (max-width: 768px) {
  .page_container__jZF7q {
    flex-direction: column;
    text-align: center;
  }

  .page_text__9vMJ3, .page_image__ZQ2oC {
    width: 100%;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/Componentes/Footer/footer.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.footer_page__JUALD {
    bottom: 0;
    left: 0; 
    width: 100vw;
    background-color: rgb(var(--secondary-blue));
    color: white;
    text-align:left;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

